/* * {
  box-sizing: border-box;
}
body {
  background-color: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}
h1 {
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 0.5px;
  margin: 20px 0 30px;
}
span {
  font-size: 12px;
}
a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button .ghost {
  background-color: transparent;
  border-color: #ffffff;
}
form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    height: 100%;
    text-align: center;
}
input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0px;
    width: 100%;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 20px #ccc;
    overflow: hidden;
    max-width: 100%;
    min-height: 480px;
}
.form.container{
    position: absolute;
    top: 0;
    height: 100%;

}
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 500px;
  width: 650px;
  box-shadow: 0 14px 20px #ccc;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
}
form {
  /* display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #ffffff; */

  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
  height: 100%;
  text-align: center;
}

.form h2 {
  font-size: 45px;
  font-family: sans-serif;
  margin: 40px;
}
.box {
  /* padding: 12px;
  width: 65%;
  margin: 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px; */
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0px;
  width: 100%;
}
button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 40px;
}
h1 {
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 0.5px;
  margin: 20px 0 30px;
}
span {
  font-size: 12px;
}
.side {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #ffffff;

  background-color: rgba(255, 0, 0, 0.75);
  height: 100%;
}
.side h1 {
  margin-top: 150px;
}
.side button {
  border: 1px solid #ffff;
}
